        body {
            background-color: white;
        }



        #mi-titulo {
            position: absolute;
            top: 50px;
            left: 50%;
            transform: translateX(-50%);
        }

        #id-cliente {

            position: absolute;
            top: 180px;
            left: 100px;

        }

        #nombre-cliente {

            position: absolute;
            top: 180px;
            left: 250px;

        }


        #fecha-ultima-compra-cliente {

            position: absolute;
            top: 180px;
            left: 450px;

        }

        #correo-cliente {

            position: absolute;
            top: 180px;
            left: 750px;

        }

        #direccion-cliente {

            position: absolute;
            top: 180px;
            left: 950px;

        }

        #cantidad-compras-cliente {

            position: absolute;
            top: 180px;
            left: 1150px;

        }


        .boton-agregar {

            background-color: green;
            color: white;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 75px;
            left: 100px;

        }

        .boton-editar {

            background-color: yellow;
            color: black;
            padding: 10px 20px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            position: absolute;
            top: 200px;
            left: 1550px;
        }

        .boton-agregar:hover {
            background-color: #024900;
        }


        table {
            width: 80%;
            border-collapse: collapse;
            margin-top: 10%;
            margin: 100px auto;
            box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
        }

        th,
        td {
            padding: 10px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #f5f5f5;
        }

        .search-container {
            text-align: center;
            margin-top: 75px;
            margin-left: 1000px;
            position: absolute;
            top: 0;
            right: 0;
        }

        .search-input {
            padding: 10px;
            width: 300px;
            border: 1px solid #ccc;
            border-radius: 5px;
        }

        .search-button {
            padding: 10px 20px;
            background-color: #007bff;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .search-button:hover {
            background-color: #006797;
        }

        .selected-row {
            background-color: #e0e0e0;

            .delete-button {
                background-color: red;
                color: white;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            .delete-button::before {
                content: '×';
                position: absolute;
                top: 4px;
                font-size: 16px;
            }

            .delete-button:hover {
                background-color: #9c0000;
            }

            .delete-cell {
                width: 50px;
                padding: 0;
                text-align: center;
            }

            .edit-button {
                background-color: yellow;
                color: white;
                border: none;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                font-size: 16px;
                cursor: pointer;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
            }

            .edit-button::before {
                content: 'o';
                position: absolute;
                top: 4px;
                font-size: 16px;
            }

            .edit-button:hover {
                background-color: #9c8a00;
            }

            .edit-cell {
                width: 50px;
                padding: 0;
                text-align: center;
            }

            .user-button a {
                background-color: #007bff;
                color: #fff;
                padding: 10px 20px;
                border-radius: 5px;
                text-decoration: none;
            }

            .user-button a:hover {
                background-color: #0056b3;
            }

        }
